* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100%;
    background-color: rgb(29, 28, 28);
  /*  background:url("./images/backgroungGrey.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
   /* background:grey;background: #005AA7; 
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

/* left*/

.leftContainer {
background-color: aliceblue;
   height: 100%;
   padding-left: 20px;
}
img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 100px;
}

.socialNetwork, h2 {
    display: flex;
    justify-content: center;
}

.nav ul {
    display: flex;
    flex-direction: column;
}
.nav ul li a {
    list-style: none;
    display: inline-block;
    color: black;
}

/*MAIN*/

.content h1{
    color: whitesmoke;
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    
}

.description + p {
   
    
    font-size: 27px;
    padding: 10px;
    text-align: justify;
    color: rgb(167, 160, 160);
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3%;
}

.container .navbar {
    display: flex;
    padding-top: 20px;
    justify-items: center;
}

.logo{
    width: 260px;
}
.humburger{
    width: 20px;
    height: 20px;
}

.header {
    flex: 1;
    color:whitesmoke;
    background: black;
    box-shadow: 1px 1pxp 1px grey;
    border-bottom: 1px solid black;
}



/*SOCIAL NETWORK */
ul li {
    list-style: none;
    display: inline-block;
    padding: 15px 4px;
    flex: 1;
}


nav ul li:hover{ 
    color: white;
    background-color:#ffffff4a ; 
    backdrop-filter:blur(5px);   }
.cart {
    display: flex;
    justify-items: auto;

}


.content::before {
   margin: 0;
   content: url("./images/arrow_back.svg");
   position:relative; /*or absolute*/
   left:-90px;
   top:100px;
   padding: 10px;
   background-color:#ffffff1a ; 
    backdrop-filter:blur(5px); 
}


.description {
    font-size:40px;
}



.profil {
    position: absolute;
    bottom:0;
    right: 0;
    width: 60%;
}



/*NOS COMPETENCES */

.card {
    display: flex;
    align-items: center;
}

.competenceListe {
    background: yellow;
}


.competenceListe .card img {
    border-radius: 100px;
    border: 2px dotted black;
    width: 10%;
}

img+h3{
    background-color: grey;
    color: whitesmoke;
    justify-items: center;
}
.competenceListe .card {
    display: flex;
}


.competenceListe {
     width: 80%;
     margin-left: auto;
     margin-right: auto;
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(auto-fit,minMax(500px,auto));
}

.card img {
    width: 100%;
    height: auto;
}
/* THE PROJECTS SECTIONS */
.projectsSectiion {
    background-color: red;
}

.projectsSectiion > h3 {
    color: green;
    text-align: center;
}
.projectsContainer{
    display: grid;
    grid-template-columns:repeat(auto-fit,minMax(300px,auto));
    grid-gap:1.3rem;
}
section {
    margin-left:auto;
    margin-right: auto;
}

section > h2 {
    color: grey;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

section > h2:hover{
    size: 20px;
}


.humburger {
    display: none;
    background: transparent;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    nav ul {
        display: none;
    }

    
}
