@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root{
    --main-color:#D46464;
    --main-bg:#000000;
}

.wrapper .button{

  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;

  border-radius: 50px;

  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button:hover{

}
.wrapper .button .icon{
 
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
  
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-bg);
    color: white;    
}
/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-color);
    box-shadow: 1px 3px 15px var(--main-color);
}
main {
    position: relative;
}
.profil {
    position: absolute;
    
    right: 0;
   
    z-index: -1;
    background-color: #D46464;
    height: 100%;
}

.mainAcceuil {
  
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.presentation h1{
    font-size: 40pt;
    padding: 10px;
    text-align: justify;
    color: whitesmoke
}
.presentation .infos{
    font-size: 40pt;
    padding: 10px;
    text-align: justify;
    color:whitesmoke
}
.presentation span{
    color: #D46464;
}


/*-------MENU--------*/

nav {
    position: absolute;
    right: 0;
    top: 50vh;
    background-color: white;

}
.menuAcceuil li:first-child ,.menuAcceuil li:first-child  a{
    color: #D46464;

}


.mainAbout li:first-child a{
    color: var(--main-color);
}

body {
   
}







/*---PORTOFOLIO----*/
.menuPortofolio li:nth-child(2) ,.menuPortofolio li:nth-child(2) a {
        color: var(--main-color);
}

/*-----SERVICES------*/
.menuService li:nth-child(3) ,.menuService li:nth-child(3) a {
    color: var(--main-color);
}

/*-----CONTACT------*/
.menuContact li:nth-child(4) ,.menuContact li:nth-child(4) a {
    color: var(--main-color);
}

.menuAbout li:nth-child(5) ,.menuAbout li:nth-child(5) a {
    color: var(--main-color);
}

/**FOR JAVASCRIPT*/
.pink {
    background-color: #E1306C;
}

.red {
  background-color: #ff0000;
}

.blueTwit {
  background-color: #1DA1F2;
}
.blueFace {
  background-color: #4267B2;
}
.grey {
  background-color: #333;
}